doctype html
html
	head
		title Farting Dog
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet",integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Handlee", rel="stylesheet")
		link(rel="stylesheet", href="/stylesheets/main.css")
	body
		block content