html{
	height: 100%;
}
body{
	background-color: #fff;
}

/*NAVBAR STYLING*/

.social-icons{
	width: 100%;
	background-color: rgba(0,0,0,0);
	text-align: right;
	padding: .5rem 1rem;
}
.social-icons a i{
	margin-left: 12px;
}

.navContainer nav{
	background-color: #fff;
	font-family: 'Handlee', cursive;
}
nav.navabar-expand-lg.navbar-light.bg-light{
	flex-direction: row;

}

.nav-logo img, .nav-brand img {
	height: 5em;
}

.nav-logo{
	position: relative;
	float: left;
	top: -76px;
	right: -50%;
}

/*BANNER*/
.bannerContainer, .bannerContaienr img.img-fluid{
	width: 100%;
}

.banText{
	text-align: center;
	position: absolute;
	left: 50px;
	top: 270px;
	-ms-transform: rotate(-12deg); /* IE 9 */
    -webkit-transform: rotate(-12deg); /* Safari */
    transform: rotate(-12deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.titleHeader{
	margin-top: -65px;
	text-align: center;
	font-family: 'Handlee', cursive;
	font-size: 3.5em;
	text-shadow: 1px 1px 1px white;
	margin-bottom: 0;
}

/*VIDEO CONTAINER*/

.video-container{
	width: 100%;
	background-color: #E6DFCD;
	padding: 30px 1em;
}

.video-info{
	text-align: center;
	color: #D58668;
	padding: 15px;
}

/* ALL TOYS PAGE */
.single-toy img{
  max-width: 100%;
}
/* CREATE TOY PAGE*/

/*MEDIA QUERIES */
@media screen and (max-width: 835px){
	.banText{
		top: 250px;
		left: 25px;
	}
	.banText h3{
		font-size: 1.15em;
	}
	.banText h4{
		font-size: 0.9em;
	}
}

@media screen and (max-width: 767px){
	.nav-brand.logo-mid{
		display: inline-block;
	}
	.nav-logo{
		display: none;
	}
}

@media screen and (min-width: 768px){
	.navContainer nav{
		padding-top:26px;
	}
	.bannerContainer img.img-fluid{
		margin-top: -80px;
	}
	.nav-brand.logo-mid{
		display: none;
	}
	.nav-logo{
		display: block;
	}
}
@media screen and (max-width: 592px){
	.titleHeader{
		font-size: 2.5em;
		margin-top: -50px;
	}
}

@media screen and (max-width: 530px){
	.banText{
		top: 260px;
		left: 10px;
	}
	.banText h3{
		font-size: 0.9em;
	}
	.banText h4{
		font-size: 0.7em;
	}
}

@media screen and (max-width: 424px){
	.titleHeader{
		margin-top: -90px;
	}
}







